/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .landing > .intro {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 3.75em;
	font-weight: 900;
}

.introText {
	text-outline: 10px 10px #cccccc;
}

main > .landing > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;
	width: 2.65rem;
	height: 2.65rem;
}

object { pointer-events: none; }

.gmodstore {
	margin-bottom: -0.20rem;
	margin-left: 0.340rem;
	margin-right: 0.340rem;
	width: 2.65rem;
	height: 2.65rem;
	transition: fill .4s ease;
}

.profile-picture > img {
	width: 10rem;
	height: 10rem;
	margin-top: -4rem;
	margin-bottom: -1rem;
}

a.svg {
  position: relative;
  display: inline-block;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scale-font {
  transition: transform .2s;
}

.scale-font:hover{
  transform:scale(1.1);
}
